.App {
  text-align: center;
}

.App {
  text-align: center;
  /* height:100%;width:100% ;*/
  object-fit: cover;
}

.form {
  bottom: 0;
  height: 50px;
  border-top: 1px solid #ccc;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  left: 28px;
  width: 280px;
  margin: auto;
  box-sizing: border-box;
}

.container {
  margin: auto;
  align-items: center;
  padding: 0px 0px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
